

@import '../../../_common/styles/common.scss';



.frame1 {
	// opacity: 1;
}

.bg{
	transform-origin: 150px 860px;
	@include pos-scale(-75, -430, 0.5);

	// opacity: .8;
}

.bg_glow{
	@include pos(0, -80);
}

.box{
	width: 160px;
	height: 600px;
	background-color: black;
	opacity: 0.2;
	@include pos(0, 0);
}

#banner{
	font-size: 20px;
	background-color: #30b8d2;
	width: 160px;
	height: 600px;
}

.logo{
	z-index: 99;
	@include pos-scale(0, 0, .5);
}

