<div id="banner">
	<div class="outline"></div>
	<div class="frame frame1">		
		<img class="retina bg" src="./images/bg.jpg" alt="" inline>
		<img class="retina bg_glow" src="./images/bg_glow.png" alt="" inline/>
		
		<img class="retina t1a" src="./images/t1a.png" alt="" inline/>
		<!-- <img class="retina t1b" src="./images/t1b.png" alt="" inline/> -->
		<img class="retina can" src="./images/can.png" alt="" inline/>
		<img class="retina t2" src="./images/t2.png" alt="" inline/>

		

		<img class="retina logo" src="./images/logo.png" alt="" inline/>
		<div class="box"/>
		

	</div>
	
</div>